<app-navbar></app-navbar>
<!-- Start Subheader -->
        <div class="sub-header p-relative">
            <div class="overlay overlay-bg-black"></div>
            <div class="pattern"></div>
            <div class="section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sub-header-content p-relative">
                                <h1 class="text-custom-white lh-default fw-600">Blog</h1>
                                <ul class="custom">
                                    <li> <a routerLink="/" class="text-custom-white">Home</a>
                                    </li>
                                    <li class="text-custom-white active">Blog</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subheader -->
        <!-- Start Blog -->
        <section class="section-padding bg-gray our-articles">
            <div class="container">
                <div class="row">
                    <article class="col-lg-4 col-md-6 post mb-xl-30">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img">
                                <a routerLink="/blog-detail">
                                    <img src="assets/images/blog/blog7.jpg" class="full-width" alt="blog">
                                </a>
                            </div>
                            <div class="blog-meta padding-20">
                                <div class="post-meta">
                                    <div class="author-img">
                                        <img src="assets/images/doctors/doctor13.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="author-meta">
                                        <h6 class="no-margin"><a routerLink="/blog-detail" class="text-custom-white">Charles C. Pruitt</a></h6>
                                        <p class="no-margin text-custom-white"><a routerLink="/blog-detail" class="text-custom-white">Admin</a> | 25 January , 2020</p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h2><a routerLink="/blog-detail" class="text-custom-black fw-600">Bigger home still the goal?</a></h2>
                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="fas fa-eye text-light-blue"></i> 33</a></span>
                                        <span class="fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="far fa-comment text-light-blue"></i> 33</a></span>
                                    </div> <a routerLink="/blog-detail" class="text-light-blue fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 post mb-xl-30">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img">
                                <a routerLink="/blog-detail">
                                    <img src="assets/images/blog/blog8.jpg" class="full-width" alt="blog">
                                </a>
                            </div>
                            <div class="blog-meta padding-20">
                                <div class="post-meta">
                                    <div class="author-img">
                                        <img src="assets/images/doctors/doctor11.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="author-meta">
                                        <h6 class="no-margin"><a routerLink="/blog-detail" class="text-custom-white">Charles C. Pruitt</a></h6>
                                        <p class="no-margin text-custom-white"><a routerLink="/blog-detail" class="text-custom-white">Admin</a> | 25 January , 2020</p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h2><a routerLink="/blog-detail" class="text-custom-black fw-600">Choosing right education loan</a></h2>
                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="fas fa-eye text-light-blue"></i> 33</a></span>
                                        <span class="fs-14"><a routerLink="/blog" class="text-custom-black"><i class="far fa-comment text-light-blue"></i> 33</a></span>
                                    </div> <a routerLink="/blog-detail" class="text-light-blue fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 post mb-xl-30">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img">
                                <a routerLink="/blog-detail">
                                    <img src="assets/images/blog/blog9.jpg" class="full-width" alt="blog">
                                </a>
                            </div>
                            <div class="blog-meta padding-20">
                                <div class="post-meta">
                                    <div class="author-img">
                                        <img src="assets/images/doctors/doctor12.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="author-meta">
                                        <h6 class="no-margin"><a routerLink="/blog-detail" class="text-custom-white">Charles C. Pruitt</a></h6>
                                        <p class="no-margin text-custom-white"><a routerLink="/blog-detail" class="text-custom-white">Admin</a> | 25 January , 2020</p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h2><a routerLink="/blog-detail" class="text-custom-black fw-600">FAST APPROVAL  May For You If You Are Innocent</a></h2>
                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="fas fa-eye text-light-blue"></i> 33</a></span>
                                        <span class="fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="far fa-comment text-light-blue"></i> 33</a></span>
                                    </div> <a routerLink="/blog-detail" class="text-light-blue fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 post mb-xl-30">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img">
                                <a routerLink="/blog-detail">
                                    <img src="assets/images/blog/blog10.jpg" class="full-width" alt="blog">
                                </a>
                            </div>
                            <div class="blog-meta padding-20">
                                <div class="post-meta">
                                    <div class="author-img">
                                        <img src="assets/images/doctors/doctor14.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="author-meta">
                                        <h6 class="no-margin"><a routerLink="/blog-detail" class="text-custom-white">Charles C. Pruitt</a></h6>
                                        <p class="no-margin text-custom-white"><a routerLink="/blog-detail" class="text-custom-white">Admin</a> | 25 January , 2020</p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h2><a routerLink="/blog-detail" class="text-custom-black fw-600">How Is Mediation Useful in Home Loan Cases?</a></h2>
                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="fas fa-eye text-light-blue"></i> 33</a></span>
                                        <span class="fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="far fa-comment text-light-blue"></i> 33</a></span>
                                    </div> <a routerLink="/blog-detail" class="text-light-blue fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 post mb-xl-30">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img">
                                <a routerLink="/blog-detail">
                                    <img src="assets/images/blog/blog11.jpg" class="full-width" alt="blog">
                                </a>
                            </div>
                            <div class="blog-meta padding-20">
                                <div class="post-meta">
                                    <div class="author-img">
                                        <img src="assets/images/doctors/doctor15.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="author-meta">
                                        <h6 class="no-margin"><a routerLink="/blog-detail" class="text-custom-white">Charles C. Pruitt</a></h6>
                                        <p class="no-margin text-custom-white"><a routerLink="/blog-detail" class="text-custom-white">Admin</a> | 25 January , 2020</p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h2><a routerLink="/blog-detail" class="text-custom-black fw-600">Choosing right education loan</a></h2>
                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="fas fa-eye text-light-blue"></i> 33</a></span>
                                        <span class="fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="far fa-comment text-light-blue"></i> 33</a></span>
                                    </div> <a routerLink="/blog-detail" class="text-light-blue fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 post mb-xl-30">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img">
                                <a routerLink="/blog-detail">
                                    <img src="assets/images/blog/blog12.jpg" class="full-width" alt="blog">
                                </a>
                            </div>
                            <div class="blog-meta padding-20">
                                <div class="post-meta">
                                    <div class="author-img">
                                        <img src="assets/images/doctors/doctor13.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="author-meta">
                                        <h6 class="no-margin"><a routerLink="/blog-detail" class="text-custom-white">Charles C. Pruitt</a></h6>
                                        <p class="no-margin text-custom-white"><a routerLink="/blog-detail" class="text-custom-white">Admin</a> | 25 January , 2020</p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h2><a routerLink="/blog-detail" class="text-custom-black fw-600">Choosing right education loan</a></h2>
                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="fas fa-eye text-light-blue"></i> 33</a></span>
                                        <span class="fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="far fa-comment text-light-blue"></i> 33</a></span>
                                    </div> <a routerLink="/blog-detail" class="text-light-blue fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 post mb-md-30">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img">
                                <a routerLink="/blog-detail">
                                    <img src="assets/images/blog/blog11.jpg" class="full-width" alt="blog">
                                </a>
                            </div>
                            <div class="blog-meta padding-20">
                                <div class="post-meta">
                                    <div class="author-img">
                                        <img src="assets/images/doctors/doctor13.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="author-meta">
                                        <h6 class="no-margin"><a routerLink="/blog-detail" class="text-custom-white">Charles C. Pruitt</a></h6>
                                        <p class="no-margin text-custom-white"><a routerLink="/blog-detail" class="text-custom-white">Admin</a> | 25 January , 2020</p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h2><a routerLink="/blog-detail" class="text-custom-black fw-600">How Is Mediation Useful in Home Loan Cases?</a></h2>
                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="fas fa-eye text-light-blue"></i> 33</a></span>
                                        <span class="fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="far fa-comment text-light-blue"></i> 33</a></span>
                                    </div> <a routerLink="/blog-detail" class="text-light-blue fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 post mb-md-30">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img">
                                <a routerLink="/blog-detail">
                                    <img src="assets/images/blog/blog14.jpg" class="full-width" alt="blog">
                                </a>
                            </div>
                            <div class="blog-meta padding-20">
                                <div class="post-meta">
                                    <div class="author-img">
                                        <img src="assets/images/doctors/doctor13.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="author-meta">
                                        <h6 class="no-margin"><a routerLink="/blog-detail" class="text-custom-white">Charles C. Pruitt</a></h6>
                                        <p class="no-margin text-custom-white"><a routerLink="/blog-detail" class="text-custom-white">Admin</a> | 25 January , 2020</p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h2><a routerLink="/blog-detail" class="text-custom-black fw-600">Choosing right education loan</a></h2>
                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="fas fa-eye text-light-blue"></i> 33</a></span>
                                        <span class="fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="far fa-comment text-light-blue"></i> 33</a></span>
                                    </div> <a routerLink="/blog-detail" class="text-light-blue fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 post">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img">
                                <a routerLink="/blog-detail">
                                    <img src="assets/images/blog/blog15.jpg" class="full-width" alt="blog">
                                </a>
                            </div>
                            <div class="blog-meta padding-20">
                                <div class="post-meta">
                                    <div class="author-img">
                                        <img src="assets/images/doctors/doctor13.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="author-meta">
                                        <h6 class="no-margin"><a routerLink="/blog-detail" class="text-custom-white">Charles C. Pruitt</a></h6>
                                        <p class="no-margin text-custom-white"><a routerLink="/blog-detail" class="text-custom-white">Admin</a> | 25 January , 2020</p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h2><a routerLink="/blog-detail" class="text-custom-black fw-600">Choosing right education loan</a></h2>
                                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="blog-links">
                                    <div class="post-metas"> <span class="mr-2 fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="fas fa-eye text-light-blue"></i> 33</a></span>
                                        <span class="fs-14"><a routerLink="/blog-detail" class="text-custom-black"><i class="far fa-comment text-light-blue"></i> 33</a></span>
                                    </div> <a routerLink="/blog-detail" class="text-light-blue fs-14">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav class="section-padding-top">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" routerLink="/blog">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" routerLink="/blog">1</a>
                                </li>
                                <li class="page-item active"><a class="page-link" routerLink="/blog">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" routerLink="/blog">3</a>
                                </li>
                                <li class="page-item"><a class="page-link" routerLink="/blog">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog -->
        <app-footer></app-footer>